<%- include("./include/head.ejs") %>
<body style="width: 100vw;">
    <%- include("./include/navbar.ejs") %>
    <%- include("./include/flash.ejs") %>

     <div class="row mx-1">
         
      <div id="add" class="card col-lg-5 col-md-3 col-sm-2" 
      style="width: 25vh;height: 25vh;border: 2px solid black;" >
      <a href="/cloudink/video/new" >+</a>  
      </div>

         <% for( let ele of allvideos ) { %>
          <div class="card col-lg-5 col-md-3 col-sm-2 " style="width: 25vh;height: 35vh;" >
            <a href="/cloudink/video/<%= ele._id %>">
             <video class="card-img-top" style="height:25vh;object-fit: cover;" src="<%= ele.video %>"></video>
            <div class="card-body">
              <h5 class="card-title"><%= ele.content %></h5>
            </div>
            </a> 
          </div>  
    
   <% } %>
</div>
  

  




</body>
</html>




